/ = link_to "Add Thunderlink", new_feed_path
%header

  %nav.nav-app
    %ul
      %li.settings
        %a{:href => '/'}
      %li.add
        = link_to "", add_thunderlink_path, :class => 'add_thunderlink'

.feeds.feeds-view

