$bg-body-0 : #5DA8E9
$bg-body-1 : #e9dfdd
$bg-body-2 : #dae2e6

$feed-bg-hot        : rgba(255,255,255,.8)
$feed-bg-hot-hover  : rgba(255,255,255,.9)
$feed-bg-cold       : rgba(255,255,255,.3)
$feed-bg-cold-hover : rgba(255,255,255,.4)
$feed-shadow        : rgba(00,00,00,.1)
$feed-light-hot     : #FA9741
$feed-light-cold    : $bg-body-0
$feed-type-hot      : #2A5E8B
$feed-type-cold     : #2A5E8B

$type-black : #000