.feeds ol
  list-style-type: none
  margin: 0
  padding: 0

li.feed
  margin-bottom: .9em
  width: 100%
  +box-shadow(.4em .4em 0 0 $feed-shadow)
  +border-radius(.3em)
  position: relative
  a.thunderlink
    display: block
    text-decoration: none
    padding: 1.4em

    span.light
      display: inline-block
      width: .7em
      height: .7em
      +border-radius(20px)
      margin-right: 1em

// Layout
.feeds.feeds-view
  a.delete
    display: none

.feeds.feeds-settings
  a.delete
    display: block
    position: absolute
    right: 0
    top: 0
    width: 40px
    height: 40px
    background: red

// Hot styling
.hot-feeds li.feed
  background: $feed-bg-hot
  &:hover
    background: $feed-bg-hot-hover
  a.thunderlink
    color: $feed-type-hot
    span.light
      background: $feed-light-hot

// Cold styling
.cold-feeds li.feed
  background: $feed-bg-cold
  &:hover
    background: $feed-bg-cold-hover
  a.thunderlink
    color: $feed-type-cold
    span.light
      background: $feed-light-cold