.feeds ol
  list-style-type: none
  margin: 0
  padding: 0

li.feed
  +feed

// Elements inside a feed
a.thunderlink
  display: block
  text-decoration: none
  padding: $feed-padding

span.light
  display: inline-block
  width: .7em
  height: .7em
  +border-radius(20px)
  margin-right: 1em
  background: $feed-light-cold // default


// Layout
.feeds.feeds-view
  a.delete
    display: none

.feeds.feeds-settings
  a.feed-action
    &.delete
      +feed-action(red)

// Hot styling
.hot-feeds li.feed
  background: $feed-bg-hot
  &:hover
    background: $feed-bg-hot-hover
  a.thunderlink
    color: $feed-type-hot
    span.light
      background: $feed-light-hot

// Cold styling
.cold-feeds li.feed
  background: $feed-bg-cold
  &:hover
    background: $feed-bg-cold-hover
  a.thunderlink
    color: $feed-type-cold
    span.light
      background: $feed-light-cold